body{
    color: rgb(14, 213, 240); /*cor da fonte - letra */
    background-color: rgb(1, 30, 12); /* cor do fundo */
    font-family: Arial, sans-serif;
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(68, 5, 185);
    padding: 30px;
    font-size: 55px;
    color: rgb(235, 231, 8);
}

section {
    background: rgb(211, 16, 26);
    padding-bottom: 95px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}